// Global

@import "global/_normalize";
@import "global/_reboot";
@import "global/_variables";
@import "global/_container";
@import "global/_fonts";


//Blocks
@import "blocks/_page";
@import "blocks/_btn";
@import "blocks/_section";
@import "blocks/_card-list";
@import "blocks/_card";
@import "blocks/_footer";
@import "blocks/_custom-input";
@import "blocks/_modal";
@import "blocks/_modal-form";



