*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.section__heading {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.message {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.users-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.users-item {
  list-style: none;
}

.section__btn-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.button {
  padding: 20px;
  background-color: transparent;
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid blue;
  border-radius: 8px;
  color: blue;
}

.button:hover {
  background-color: black;
  color: white;
  border: 2px solid #fff;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.user-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 500px;
  padding: 20px;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  color: black;
  border: 2px solid black;
}

.user-card__data-wrapper {
  display: flex;
  flex-direction: column;
}

.user-card__delete-button {
  padding: 20px;
  margin: auto 0 0 0;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}