.container {
  max-width: 1110px;
  margin: 0 auto;

  background-image: url("../../images/picture-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: -30%;
  background-size: 790px 697px;
}