.footer {
  background-color: $footer;
  
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 85px 0 28px 0;
  }

  &__title {
    font-family: $ff;
    font-weight: 800;
    font-size: 24px;
    color: $white;
    margin: 0 0 16px 0;

  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
    color: $white;
    margin: 0 0 43px 0;
    font-family: $ff;
  }

  &__list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__nav-title {
    font-weight: 500;
    font-size: 20px;
    color: $white;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: $white;
    font-family: $ff;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__nav-title {
    font-family: $ff;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
  }

  &__link-icon {
    color: $white;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__copyright {
    position: relative;
    display: block;
    font-family: $ff;
    color: $white;
    text-align: center;
    padding: 33px 0 28px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-top: 1px solid $white;
      width: 66px;
    }
  }

}