.modal {
  display: none;

  
  
  &--showed {
    visibility: visible;
    position: fixed;
    z-index: 2;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}